<div class="container">
<h1 class="is-size-1 mb-6">List of teachers working in private schools in Winnipeg</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
    <tr>
    <td><%= teacher.id %></td>
      <td><%= link_to teacher.firstname, teacher %></td>
      <td><%= teacher.lastname %></td>
      <td><%= link_to teacher.school.name, teacher.school %></td>
    </tr>
<%end%>
  </tbody>
</table>
</div>
