<div class="container">
<h1 class="is-size-1 mb-4">List of Private schools in Winnipeg</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>School</th>
      <th>Total Students</th>
      <th>Total Teachers</th>
    </tr>
  </thead>
  <tbody>
  <% @schools.each do |school| %>
    <tr>
    <td><%= school.id %></td>
      <td><%= link_to school.name, school %></td>
      <td><%= link_to school.students.count, school %></td>
      <td><%= link_to school.teachers.count, school %></td>
    </tr>
<%end%>
  </tbody>
</table>

</div>
