

<% if(@schools.count == 0)%>
<p style="font-size:3rem; color:red">
No Schools found while searching for: <%= params[:keywords]%>
</p>
<%else%>
<p>
Schools found while searching for: <%= params[:keywords]%>
</p>
<ul>
<% @schools.each do |school|%>
<li><%= link_to school.name, school %></li>
<%end%>
</ul>
<%end%>